$border-color: rgb(255, 255, 255);

.button{
text-align: center;
}

table{
  width: 100%;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.users {
  width: 100%;
}

.Likefavouritebutton{
  color: red;
}

.usertitle {
  margin-top: 5%;
  margin-left: 6%;
  margin-bottom: 1%;
}


.user {
  border-left: $border-color;
  border-left-style: groove;
  border-left-width: thin;
  border-right: $border-color;
  border-right-style: groove;
  border-right-width: thin;
  display: flex;
  flex-direction: row;
  display: inline-block;
  margin: 1%;
  width: 30%;
}

.oneuser {
  display: flex;
  flex-direction: column;
}

.users-group {
  display: flex;
  flex-flow: wrap;
}

.profileimage {
  background-color: rgb(247, 247, 247);
  padding: 0%;
  height: 5cm;
}

.ullist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.infofield {
  margin-left: 6%;
  display: flex;
  flex-direction: row;
}

.icon-label {
  margin-left: 1%;
  font-size: 100%;
}

.icon {
  font-size: 18px;
}

.matcardact {
  border-top: $border-color;
  border-top-style: groove;
  border-top-width: thin;
  background-color: rgb(247, 247, 247);
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.addbutton {
  margin-left: 100%;
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-group{
  position: relative;
}

.container {
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}

.name{
  display: flex;
  flex-direction: row;
}


